<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Logo</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<style>
			@font-face {
				font-family: 'Maxwell';
				src: url('./Maxwell.woff2') format('woff2'),
					url('./Maxwell.woff') format('woff');
				font-weight: normal;
				font-style: normal;
			}
			p {
				margin-block-start: 0em;
				margin-block-end: 0em;
				margin-inline-start: 0px;
				margin-inline-end: 0px;
			}
			body {
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      display: block;
      justify-content: center;
      align-items: center;
    }
		</style>
	</head>
	<body>
		<div style="text-align: center; background: url(./aravind_icon_attempt.svg); background-repeat: no-repeat; height: 348px; width: 392px; margin: 0 auto; background-size: contain;">
		</div>
		<div style="text-align: center;">
			<p style="font-family: Maxwell; font-size: 62px; color: #e2003a;">
				BE MY PARTNER
			</p>
			<p
				style="font-family: Maxwell; font-size: 34px; color: #4d4d4d;"
			>
				Always with you
			</p>
		</div>
	</body>
</html>
